---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/LayoutMain.astro';
import Footer from '../components/footer.astro';
import Separador from '../components/Separador.astro';
import Cards from '../components/Card.astro';

---

<Layout title="Bienvenidos">
	<Welcome />
	<Separador  text="Revisa mis proyectos"/>
	<div class="card-container">
	<Cards src="/src/assets/woman.jpg" alt="Lisener" title="Musica" description="Musica para volar sin necesidad de salir de tu habitacion"/>
	<Cards src="../src/assets/woman.jpg" alt="Lisener" title="Musica" description="Musica para volar sin necesidad de salir de tu habitacion"/>
	<Cards src="../src/assets/woman.jpg" alt="Lisener" title="Musica" description="Musica para volar sin necesidad de salir de tu habitacion"/>
	</div>
	<Separador  text="Encuentrame aqui"/>
	<Footer />
</Layout>

<style>
	.card-container {
	  display: flex; /* Usa flexbox */
	  gap: 1rem; /* Espaciado entre tarjetas */
	  justify-content: center; /* Centra horizontalmente */
	  flex-wrap: wrap; /* Permite que las tarjetas se ajusten en múltiples filas si no caben */
	}
  </style>