---
import menus from "../collections/menu.json";
import Logo from "../components/Logo.astro";
import Toggle from "../components/ThemeToggle.astro";
---

<header>
  <div class="dark:bg-slate-600">
    <Logo />
    <nav>
      <ul class="menu">
        {
          menus.map((menu) => (
            <li class="dark:text-white">
              <a class="dark:text-white" href={menu.url} class="menu-link">
                {menu.name}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>
<style>
  header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
  }
  div {
    font-family: "Onest Variable", sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 203, 242, 0.8);
    padding: 0.1rem 1rem;
    gap: 1rem;
  }

  ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    padding: 0;
  }

  li {
    font-size: 1rem;
  }

  a {
    text-decoration: none;
    color: #333;
  }

  a:hover {
    color: #0070f3;
  }

  @media screen {
    .menu {
      display: none;
    }
  }
</style>
