---
import background from "../assets/background.svg";
import Boton from "../components/boton.astro";
import Tecnologias from "../components/Tecnologias.astro";
import Card from "../components/Card.astro";
---

<section>
  <div id="container">
    <img id="background" src={background.src} alt="" fetchpriority="high" />
    <main>
      <section id="hero">
        <h1><span class="dynamic-gradient">SHOWCASE</span></h1>
        <h2>
          Paginas <span>versatiles</span>. Explora y observa de que somos <span
            >capaces</span>
        </h2>
      </section>
      <id class="card-container">
        <ul>
          <li><Card title="Restaurant" src="../src/assets/astro.svg" /></li>
          <li><Card title="Academia" src="../src/assets/astro.svg" /></li>
          <li><Card title="Eventos" src="../src/assets/astro.svg" /></li>
          <li><Card title="Hotel" src="../src/assets/astro.svg" /></li>
          <li><Card title="Blog" src="../src/assets/astro.svg" /></li>
        </ul>
      </id>
    </main>
  </div>
</section>
<style>
  #background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(100px);
  }

  #container {
    height: 100%;
  }

  main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 86px;
    width: 500px;
  }
  .boton {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
    flex-wrap: wrap;
  }

  li {
    margin: 0 10px;
  }
  h1 {
    font-size: 4rem;
    margin: 0.25em 0 0.2em;
  }

  h2 {
    margin: 0 0 1em;
    font-weight: bold;
    color: #111827;
    font-size: 30px;
    text-align: center;
  }
  span {
    color: #f03cae;
    font-weight: bold;
  }
  p {
    color: #4b5563;
    font-size: 20px;
    line-height: 1.5; /* Mejora la legibilidad */
    letter-spacing: -0.006em;
    margin: 0.25em 0; /* Reduce margen superior e inferior */
  }

  .astronauta {
    width: 600px; /* Ajusta según el tamaño deseado */
    animation: float 5s ease-in-out infinite;
  }

  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .dynamic-gradient {
    background: linear-gradient(90deg, #ff6ec4, #7873f5, #4ade80, #ff6ec4);
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-move 3s linear infinite;
  }

  @keyframes gradient-move {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
</style>
