---
import Html from "../components/Icons/Html.astro";
import JsIcon from "../components/Icons/JsIcon.astro";
import CssIcon from "../components/Icons/CssIcon.astro";
import AstroIcon from "../components/Icons/AstroIcon.astro";
import TailIcon from "../components/Icons/TailIcon.astro";
import WordIcon from "../components/Icons/WordIcon.astro";
import GoogleIcon from "../components/Icons/GoogleIcon.astro";
---

<section class="tecnologias">
  <ul class="icon-list">
    <li><Html size="80px" /></li>
    <li><JsIcon size="80px" /></li>
    <li><CssIcon size="80px" /></li>
    <li><AstroIcon size="80px" /></li>
    <li><TailIcon size="80px" /></li>
    <li><WordIcon size="80px" /></li>
    <li><GoogleIcon size="80px" /></li>
  </ul>
</section>

<style>
  .tecnologias {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
  }

  li {
    margin: 0 10px;
  }

  @media (max-width: 768px) {
    .icon-list {
      display: none;
    }
  }
</style>
